*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  background: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}

.bg-overlay {
  background: linear-gradient(to bottom, #0006, transparent);
  position: absolute;
  top: 60px;
  width: 100vw;
  z-index: -1;
}
